body {
    background-image: url('images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: White;
    background-color: black;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border: 1px solid transparent ;
    box-shadow: white;
  }
  
  .left-section, .right-section {
    flex-basis: 30%;
    text-align: center;
  }
  
  .center-section {
    flex-basis: 40%;
    text-align: center;
  }
  
  h2 {
    color: #958a56;
    font-size: 24px;
    margin-top: 0;
  }
  
  img {
    width: 250px;
    height: 250px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .or-separator {
    margin: 0 20px;
    font-size: 24px;
    padding: 50px 0px 50px 0px;
  }
  
  .game-button {
    width: 225px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background: #2a4158;
    color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  #create-game-button {
    font-size: 32px;
    height: 70px;
  }
  
  #join-game-button {
    height: 70px;
  }
  
  #join-game-input {
    margin-top: 20px;
    text-align: center;
  }
  
  #game-id-input {
    width: 200px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  #join-game-submit-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #2a4158;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  .or-separator {
    margin: 0 20px;
    font-size: 24px;
    padding: 50px 0px 50px 0px;
    color: #958a56;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  
  .left-section, .right-section {
    flex-basis: 30%;
    text-align: center;
    color: #958a56;
    font-weight: bold;
  }
  
  .center-section {
    flex-basis: 40%;
    text-align: center;
  }
  
  h2 {
    color: #958a56;
    font-size: 24px;
    margin-top: 0;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .game-button:hover {
    filter: brightness(80%);
  }
  
  p {
    color: white;
  }
  

  * {
    box-sizing: border-box;
  }

  /*hide scrollbar*/
  html {
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  .List {
    height: 500px; 
    overflow: auto;
    margin-top: 10px;
  }

